<!doctype html>
<html>
<head>
	<title>Demo Page</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header>
		<ul> Navigation Menu
			<li><a href="/">Home</a></li>
			<li><a href="/employers">Employers</a></li>
			<li><a href="/posts">Posts</a></li>
			<li><a href="/applicants">Applicants</a></li>
		</ul>
	</header>
	
	{{{body}}}
</body>
</html>
