<!doctype html>
<html>
<head>
	<title>Demo Page</title>
	<link rel="stylesheet" href="/css/style.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<body>
	<header>
		<ul> Navigation Menu
			<li><a href="/">Home</a></li>
			<li><a href="/employers">Employers</a></li>
			<li><a href="/posts">Posts</a></li>
			<li><a href="/applicants">Applicants</a></li>
		</ul>
	</header>
	
	{{{body}}}
</body>
</html>
