<h1>Group 123: Employment Database</h1>
<div> 
    <h2>Job DataBase Navigation Menu:</h2>
    <div>
        <h3>Employer-side:</h3>
        <p>
            View/Add/Edit/Delete Employers listed in Database: <a href="employers">Here</a>
        </p>
        <p>
            View/Add/Edit/Delete Posts created by Employers: <a href="posts">Here</a>
            <br>(Note: This requires employerID number to create)
        </p>
    </div>
    <div>
        <h3>Applicant-side:</h3>
        <p>
            View/Add/Edit/Delete Applicants in database: <a href="applicants">Here</a>
            <br>(Note: Navigating to applicants, user can select particular applicant. This will bring up their info and resumes uploaded. Unique url for each applicant)
        </p>
    </div>
</div>
